# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folder
.vs/
*.user

# NuGet packages
packages/

# obj files
bin/
obj/
RawLam/bin/
RawLam/obj/
RawLamWrapper/x64/
pyRawLam/x64/
UpgradeLog.htm
